.main-header
  .main-header__contents
    = link_to "TOP", root_path, class: "main-header__contents__top"
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "main-header__contents__log-out"
      = link_to "プロジェクトを作る", new_post_path, class: "main-header__contents__new-project"
    - else
      = link_to "ログイン", new_user_session_path, class: "main-header__contents__log-in"
      = link_to "新規登録", new_user_registration_path, class: "main-header__contents__sign-up"