= render partial: 'shared/main_header'
.wrapper
  .head-image
    プロジェクトを探す

  .projects-main
    .projects-main__list
      - @posts.each do |post|
        .project
          = link_to post_path(post.id) do
            .project__image-box
              = image_tag post.image.url, class: 'project-image'
            .project__title
              = post.title

  .top-footer
    = link_to "プロジェクトを作る", new_post_path, class: "new-project-btn"
      

