.project-title
  = @post.title

.project-detail
  .project-contents
    .project-contents__image
      = image_tag @post.image.url
    .project-contents__textbox
      .text
        = @post.text

  .current-status
    .total-money
      現在の支援総額
      .total-money__value
        = @total_money.to_i
        円
    .target-money-value
      目標額
      = @post.target_value
      円
      .gage
        .percentage
          = @proportion.floor(0)
          ％
        %meter{value: @proportion, max: 100, class: "money-meter"}

    .supporter
      支援者数
      .supporters
        = @supporters
        人


.money-support
  = link_to "支援する", "/posts/#{@post.id}/backers/new", class: "money-support__btn"

