.project-title
  = @post.title

.project-detail
  .project-contents
    .project-contents__image
      = image_tag @post.image.url
    .project-contents__textbox
      .text
        = @post.text

  .Current-status
    .total 
      現在の支援総額
      .total__money
        = Backer.where(post_id: @post.id).sum(:money_value)

    .supporter
      支援者数
      .supporter__n
        人


.money-support
  = link_to "支援する", "/posts/#{@post.id}/backers/new", class: "money-support__btn"

